body {
	margin: 0;
	text-align: center;
	font-family: "Arial";
}

#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 343px;
	background-image: url("images/floro-cover.jpg");
	background-size: cover;
	background-position: center;
}

#hero-title {
	background: #006D77;
	color: white;
	border-radius: 10px;
	margin-top: 122px;
	margin-bottom: 0px;
	padding: 2px 14px;
}

#hero-description {
	width: 420px;
	background: #83C5BE;
	color: white;
	border-radius: 10px;
	margin-top: 11px;
	padding: 2px 14px;
}

#activies-section {
	display: flex;
	justify-content: space-around;
	height: 343px;
	background: #EDF6F9;
}

.activity {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	margin: 50px 15px;
	font-size: 16px;
}

.activity-image {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background-size: cover;
	background-position: center;
}

#activity-image-goats {
	background-image: url("images/goats.webp");
}

#activity-image-hike {
	background-image: url("images/brandsoyaasen.jpeg");
}

#activity-image-explore {
	background-image: url("images/hovden.jpeg");
}

.activity-title {
	margin: 0;
	padding: 22px 0 17px;
	font-weight: bold;
}

.activity-description {
	margin: 0;
}

#guide-section {
	display: flex;
	justify-content: center;
	height: 394px;
	border: 1px dotted blue;
}

#guide-card {
	display: flex;
	justify-content: center;
	height: 294px;
	width: 400px;
	background: #FFDDD2;
	color: #006D77;
	margin: 50px 0;
}
